
development:
  secret_key_base: <%= node['rails_app']['secret_key_base'] %>

test:
  secret_key_base: <%= node['rails_app']['secret_key_base'] %>

production:
  secret_key_base: <%= node['rails_app']['secret_key_base'] %>
