<VirtualHost *:443>
  ServerName "<%= node['rails_app']['hostname'] %>"
  DocumentRoot "<%= node['rails_app']['code_path'] %>/public"

  SSLEngine on
  SSLCertificateFile /etc/apache2/ssl/certificate_file
  SSLCertificateKeyFile /etc/apache2/ssl/certificate_key_file
  SSLCertificateChainFile /etc/apache2/ssl/certificate_chain_file

  <Directory "<%= node['rails_app']['code_path'] %>/public">
  # This relaxes Apache security settings.
  AllowOverride all
  # MultiViews must be turned off.
  Options -MultiViews
  <% if node['apache']['version'].to_f >= 2.4 -%>
      Require all granted
  <% end -%>
  </Directory>

</VirtualHost>
