<VirtualHost *:80>
    ServerName "<%= node['rails_app']['hostname'] %>"
    DocumentRoot "<%= node['rails_app']['code_path'] %>/public"
    <Directory "<%= node['rails_app']['code_path'] %>/public">
        # This relaxes Apache security settings.
        AllowOverride all
        # MultiViews must be turned off.
        Options -MultiViews
        <% if node['apache']['version'].to_f >= 2.4 -%>
        Require all granted
        <% end -%>
    </Directory>
</VirtualHost>
